## Import libraries

In [1]:
import lxml.etree as ET
import csv
import pandas as pd
import numpy as np

## Import files

In [2]:
xml_file = ET.parse("UG_DATA.xml")
xml = xml_file.getroot()

In [3]:
mapping=pd.read_csv("codelists.csv")
mapping

,Codelist,Code,Name
0,FREQ,A,Annual
1,FREQ,S,"Half-yearly, semester"
2,FREQ,Q,Quarterly
3,FREQ,M,Monthly
4,FREQ,W,Weekly
5,FREQ,D,Daily
6,FREQ,H,Hourly
7,FREQ,B,Daily – businessweek
8,FREQ,N,Minutely
9,OBS_STATUS,A,Normal value
10,OBS_STATUS,B,Time series break
11,OBS_STATUS,D,Definition differs
12,OBS_STATUS,E,Estimated value
13,OBS_STATUS,F,Forecast value
14,OBS_STATUS,G,Experimental value
15,OBS_STATUS,H,Missing value; holiday or weekend
16,OBS_STATUS,I,Imputed value (CCSA definition)
17,OBS_STATUS,J,Derogation
18,OBS_STATUS,K,Data included in another category
19,OBS_STATUS,L,Missing value; data exist but were not collected
20,OBS_STATUS,M,Missing value; data cannot exist
21,OBS_STATUS,N,Not significant
22,OBS_STATUS,O,Missing value
23,OBS_STATUS,P,Provisional value
24,OBS_STATUS,Q,Missing value; suppressed
25,OBS_STATUS,S,Strike and other special events
26,OBS_STATUS,U,Low reliability
27,OBS_STATUS,V,Unvalidated value
28,OBS_STATUS,W,Includes data from another category
29,UNIT_MULT,0,Units
...,...,...,...
1239,UNIT_MEASURE,LCU_PPP_USD,Local currency per USD (PPP)
1240,UNIT_MEASURE,MJ_PER_GDP_CON_PPP_USD,Megajoules per USD constant PPP GDP
1241,UNIT_MEASURE,T,Metric Tons
1242,UNIT_MEASURE,GPERM3,Micrograms per cubic meter
1243,UNIT_MEASURE,NaN,Not applicable
1244,UNIT_MEASURE,NUMBER,Number
1245,UNIT_MEASURE,USD_GDP_PPP,Per 1 USD GDP (PPP)
1246,UNIT_MEASURE,PER_1000_LIVE_BIRTHS,"Per 1,000 live births"
1247,UNIT_MEASURE,PER_1000_POP,"Per 1,000 population"
1248,UNIT_MEASURE,PER_1000_USD,"Per 1,000 USD"
1249,UNIT_MEASURE,PER_1000_UNINFECTED_POP,"Per 1,000 uninfected population"
1250,UNIT_MEASURE,PER_100_LIVE_BIRTHS,Per 100 live births
1251,UNIT_MEASURE,PER_100_POP,Per 100 population
1252,UNIT_MEASURE,PER_100000_EMP,"Per 100,000 employees"
1253,UNIT_MEASURE,PER_100000_FTE,"Per 100,000 full-time equivalents"
1254,UNIT_MEASURE,PER_100000_LIVE_BIRTHS,"Per 100,000 live births"
1255,UNIT_MEASURE,PER_100000_PRSN_INSR,"Per 100,000 persons insured"
1256,UNIT_MEASURE,PER_100000_POP,"Per 100,000 population"
1257,UNIT_MEASURE,PER_100000_WKRS_EMP,"Per 100,000 workers employed"
1258,UNIT_MEASURE,PER_100000_WKRS_EXPD,"Per 100,000 workers exposed to risk"
1259,UNIT_MEASURE,PER_1000000_POP,Per million population
1260,UNIT_MEASURE,PERCENT,Percent
1261,UNIT_MEASURE,PROB,Probability
1262,UNIT_MEASURE,RATIO,Ratio
1263,UNIT_MEASURE,T_KM,Tonne kilometres
1264,UNIT_MEASURE,T_PER_HA,Tonnes per hectare
1265,UNIT_MEASURE,USD,USD
1266,URBANISATION,_T,Total
1267,URBANISATION,U,Urban
1268,URBANISATION,R,Rural

## Convert XML to CSV
Create an empty dataframe:

In [4]:
xml_data=pd.DataFrame()

Populate csv_data with values from XML:

In [5]:
count=0
for series in xml.iter('Series'):
    disaggregations=str(series.attrib).strip("{}").split(", ")
    for obs in series.findall('Obs'):
        attributes=str(obs.attrib).strip("{}").split(", ")
        col=[]
        value=[]
        for pair1 in disaggregations:
            col.append(pair1.split(": ")[0].strip("'"))
            value.append(pair1.split(": ")[1].strip("'"))
        for pair2 in attributes:
            col.append(pair2.split(": ")[0].strip("'"))
            value.append(pair2.split(": ")[1].strip("'"))
        row=pd.DataFrame([value], columns=col)
        if count==0:
            xml_data=pd.DataFrame(columns=col)
        count+=1
        xml_data=xml_data.append(row, sort=True).reset_index(drop=True)
xml_data.head()

,AGE,COMMENT_OBS,COMPOSITE_BREAKDOWN,CUST_BREAKDOWN,DISABILITY_STATUS,EDUCATION_LEV,FREQ,INCOME_WEALTH_QUANTILE,NATURE,OBS_STATUS,...,REF_AREA,REPORTING_TYPE,SERIES,SEX,SOURCE_DETAIL,TIME_DETAIL,TIME_PERIOD,UNIT_MEASURE,UNIT_MULT,URBANISATION
0,_T,NaN,_T,_T,_T,_T,A,_T,C,A,...,UG,N,SI_POV_NAHC,_T,UNHS,2017,2017,PERCENT,0,_T
1,Y0T4,NaN,_T,_T,_T,_T,A,_T,C,A,...,UG,N,SH_STA_STNT,F,UDHS,2016,2016,PERCENT,0,_T
2,Y0T4,NaN,_T,_T,_T,_T,A,_T,C,A,...,UG,N,SH_STA_STNT,F,UDHS,2011,2011,PERCENT,0,_T
3,Y0T4,NaN,_T,_T,_T,_T,A,_T,C,A,...,UG,N,SH_STA_STNT,M,UDHS,2016,2016,PERCENT,0,_T
4,Y0T4,NaN,_T,_T,_T,_T,A,_T,C,A,...,UG,N,SH_STA_STNT,M,UDHS,2011,2011,PERCENT,0,_T

Drop columns that just contain "_T" as this means that there is only one breakdown type so column is not required:

In [6]:
for column in xml_data:
    if len(set(list(xml_data[column])))==1 and set(list(xml_data[column]))=={"_T"}:
        xml_data.drop(columns=column, inplace=True)

# rename OBS_VALUE column
xml_data.rename(columns={"OBS_VALUE":"_REPVAR_"}, inplace=True)
        
xml_data.head()

,AGE,COMMENT_OBS,DISABILITY_STATUS,FREQ,NATURE,OBS_STATUS,_REPVAR_,REF_AREA,REPORTING_TYPE,SERIES,SEX,SOURCE_DETAIL,TIME_DETAIL,TIME_PERIOD,UNIT_MEASURE,UNIT_MULT
0,_T,NaN,_T,A,C,A,21.4,UG,N,SI_POV_NAHC,_T,UNHS,2017,2017,PERCENT,0
1,Y0T4,NaN,_T,A,C,A,26.9,UG,N,SH_STA_STNT,F,UDHS,2016,2016,PERCENT,0
2,Y0T4,NaN,_T,A,C,A,37,UG,N,SH_STA_STNT,F,UDHS,2011,2011,PERCENT,0
3,Y0T4,NaN,_T,A,C,A,30.9,UG,N,SH_STA_STNT,M,UDHS,2016,2016,PERCENT,0
4,Y0T4,NaN,_T,A,C,A,29.9,UG,N,SH_STA_STNT,M,UDHS,2011,2011,PERCENT,0

## Convert csv_data to values found in mapping
Create a new empty dataframe (same length as csv_data):

In [7]:
csv_data=pd.DataFrame(index=xml_data.index)

For each row in csv_data, convert DSD code id to DSD code name using mapping:

In [8]:
for i in xml_data.index:
    for col in xml_data.drop(columns=["TIME_PERIOD", "_REPVAR_"]).columns:
        try:
            csv_data.at[i, col]=mapping['Name'].loc[mapping['Code']==xml_data.at[i, col]].loc[mapping['Codelist']==col].item()
        except ValueError:
            pass
    for col in xml_data[["_REPVAR_", "TIME_PERIOD"]].columns:
        csv_data.at[i, col]=xml_data.at[i,col]

Below you can the difference between the csv_data and indicator dataframes:

In [9]:
xml_data.tail()

,AGE,COMMENT_OBS,DISABILITY_STATUS,FREQ,NATURE,OBS_STATUS,_REPVAR_,REF_AREA,REPORTING_TYPE,SERIES,SEX,SOURCE_DETAIL,TIME_DETAIL,TIME_PERIOD,UNIT_MEASURE,UNIT_MULT
96,Y0T4,NaN,_T,A,C,A,32.2,UG,N,SG_REG_BRTH,M,UDHS,2017,2017,PERCENT,0
97,Y0T4,NaN,_T,A,C,A,32.2,UG,N,SG_REG_BRTH,_T,UDHS,2017,2017,PERCENT,0
98,_T,NaN,_T,A,C,A,35,UG,N,VC_VOV_DCMN,_T,NGPSS,2017,2017,PERCENT,0
99,_T,NaN,_T,A,C,A,32,UG,N,VC_VOV_DCMN,F,NGPSS,2017,2017,PERCENT,0
100,_T,NaN,_T,A,C,A,39,UG,N,VC_VOV_DCMN,M,NGPSS,2017,2017,PERCENT,0

In [10]:
csv_data.tail()

,AGE,FREQ,NATURE,OBS_STATUS,REPORTING_TYPE,SEX,UNIT_MEASURE,UNIT_MULT,_REPVAR_,TIME_PERIOD
96,under 5 years old,Annual,Country Data,Normal value,National,Male,Percent,Units,32.2,2017
97,under 5 years old,Annual,Country Data,Normal value,National,Both sexes or no breakdown by sex,Percent,Units,32.2,2017
98,All age ranges or no breakdown by age,Annual,Country Data,Normal value,National,Both sexes or no breakdown by sex,Percent,Units,35,2017
99,All age ranges or no breakdown by age,Annual,Country Data,Normal value,National,Female,Percent,Units,32,2017
100,All age ranges or no breakdown by age,Annual,Country Data,Normal value,National,Male,Percent,Units,39,2017

## Write out indicator to CSV
To view all of the csv data, view the outputted CSV file:

In [12]:
csv_data.to_csv("uganda_xml2csv.csv", encoding="utf-8")